<div id="must-signin-snackbar" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <ng-template #showLogin>
    <button class="mdl-snackbar__action" type="button" (click)="login()">Sign-in</button>
  </ng-template>
</div>


<div *ngIf="afAuth.user | async as user; else showLogin">
  <button class="mdl-snackbar__action" type="button" (click)="logout()">Sign-out</button>
  <h3>Hi {{ user.displayName }}!</h3>
  <app-messaging></app-messaging>
</div>  

<!-- <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
    <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
      <h3><i class="material-icons">chat_bubble_outline</i> Friendly Chat</h3>
    </div>
    <div id="user-container">
      <div hidden id="user-pic"></div>
      <div hidden id="user-name"></div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" *ngIf="afAuth.user | async as user; else showLogin"
        (click)="logout()"> <i class="material-icons">account_circle</i>Sign-out</button>
      <ng-template #showLogin>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="login()">
          <i class="material-icons">account_circle</i>Sign-in with Google
        </button>
      </ng-template>
    </div>
  </div>
</header> -->