<ul>
  <p *ngFor="let item of items | async">
    <input type="text" #updatetext [value]="item.text" value="" />
  </p>
  <input type="text" #message />
  <button (click)="sendMessage(message.value)">Send</button>
</ul>